
{% block title %}
<title>Projecte ASSI</title>
<meta charset="UTF-8" />
{% endblock %}

{% block framework %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
{% endblock %}

{% block graf %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block header %}
<div class="w3-bar w3-margin" style="display: flex; justify-content: space-between; align-items: center;">
  <span class="font-weight-bold" style="font-size: 48px;">Projecte ASSI</span>
  <a href="auth_blueprint.login" style="margin-left: auto; margin-right: 30px;box-shadow: none;">
    <img src="https://cdn-icons-png.freepik.com/256/1077/1077114.png?semt=ais_hybrid" alt="Login" style="width: 50px; height: 50px;">
  </a>
</div>

{% endblock %}

{% block body %}
<div class="w3-card-4 graph-container">
  <div class="w3-row w3-margin w3-center" style="border-radius: 10px">
      <div class="w3-tag w3-round-large w3-light-grey fixed-size w3-margin" style="height: 170px">
        <div class="w3-row">    
          <div class="image-container">
            <div class="circle-background w3-margin" style="background-color: rgb(255, 202, 202);">     
              <img src="https://png.pngtree.com/png-clipart/20220124/original/pngtree-cartoon-hand-drawn-medical-icon-thermometer-red-flattening-png-image_7185062.png" class="w3-image w3-circle" style="height: 40px;width: 40px;"></img>
            </div>
          </div>
          <p>Temperatura</p>
        </div>
        <span id="Tactual" style = "font-size: 40;"><b>66</b></span>
      </div>
      <div class="w3-tag w3-round-large w3-light-grey fixed-size w3-margin" style="height: 170px" >
        <div class="w3-row">
          <div class="image-container">
            <div class="circle-background w3-margin" style="background-color: rgb(167, 234, 255);"> 
              <img src="https://static.vecteezy.com/system/resources/previews/011/029/799/original/blue-water-drop-for-symbol-design-png.png" class="w3-image w3-circle" style="width: 40px; height: 40px;"></img>
            </div>
          </div>
          <p>Humitat</p>
        </div>
        <span id="Hactual" style = "font-size: 40;"><b>66</b></span>
      </div>
  </div>
</div>

    <div class="w3-cell-row" style="margin: 20px auto 20px">
      <div class="w3-cell-row">
        <h1 class="w3-margin w3-light-grey w3-inline-block">Historial</h1>
      </div> 
      <div class="w3-cell-row">
        <div class="w3-container w3-cell">
          <div class="w3-bar">
            <h2>Temperatura</h2>
          </div>

          <div class="w3-card-4 graph-container">
            <div class="w3-container w3-row">
              <div class="canvas-container">
                <canvas id="Temperatura"></canvas>
              </div>
            </div>
          </div>
        </div>
    
        <div class="w3-container w3-cell">
          <div class ="w3-bar">
            <h2>Humitat</h2>
          </div>

          <div class="w3-card-4 graph-container">
            <div class="w3-container w3-row">
              <div class="canvas-container">
                <canvas id="Humitat"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="{{url_for('static', filename='js/script.js')}}"></script>  
{% endblock %}