{% extends './layout.html' %}

{% block title %} Register {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
<form class="form-signin w-100 m-auto" action="/auth/register" method="POST">
    <img class="mb-4" src="{{ url_for('static', filename='img/Logo_UPC.png') }}" alt="" width="100" height="100">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="form-floating">
        <input type="text" class="form-control" id="floatingUsername" name="username" placeholder="Username" required>
        <label for="floatingUsername">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" name="confirm_password" id="floatingConfirmPassword" placeholder="Confirm Password" required>
        <label for="floatingConfirmPassword">Confirm Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
</form>
{% endblock %}